program/crawl/wsdl/advertiserLookupServiceV3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.cj.com" xmlns:tns="http://api.cj.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://link.service.cj.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.cj.com">
<xsd:element name="searchLinks">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="developerKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="token" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="websiteId" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="advertiserIds" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="keywords" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="category" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="linkType" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="linkSize" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="language" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="serviceableArea" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="promotionType" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="promotionStartDate" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="promotionEndDate" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sortBy" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sortOrder" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="startAt" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="maxResults" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="searchLinksResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:LinkDetailResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://link.service.cj.com">
<xsd:complexType name="LinkDetailResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="count" type="xsd:int"/>
<xsd:element minOccurs="0" name="links" nillable="true" type="ns1:ArrayOfLinkDetail"/>
<xsd:element minOccurs="0" name="offset" type="xsd:int"/>
<xsd:element minOccurs="0" name="totalResults" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfLinkDetail">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="LinkDetail" nillable="true" type="ns1:LinkDetail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LinkDetail">
<xsd:sequence>
<xsd:element minOccurs="0" name="advertiserId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="advertiserName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="category" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clickCommission" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="creativeHeight" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="creativeWidth" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="language" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="leadCommission" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="linkCodeHTML" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="linkCodeJavascript" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="linkDescription" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="linkDestination" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="linkId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="linkName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="linkType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="networkRank" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="performanceIncentives" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="promotionEndDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="promotionStartDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="promotionType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="relationshipStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="saleCommission" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="sevenDayEPC" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="threeMonthEPC" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchLinksResponse">
    <wsdl:part name="parameters" element="tns:searchLinksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchLinksRequest">
    <wsdl:part name="parameters" element="tns:searchLinks">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="linkSearchServiceV2PortType">
    <wsdl:operation name="searchLinks">
      <wsdl:input name="searchLinksRequest" message="tns:searchLinksRequest">
    </wsdl:input>
      <wsdl:output name="searchLinksResponse" message="tns:searchLinksResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="linkSearchServiceV2HttpBinding" type="tns:linkSearchServiceV2PortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchLinks">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="searchLinksRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchLinksResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="linkSearchServiceV2">
    <wsdl:port name="linkSearchServiceV2HttpsPort" binding="tns:linkSearchServiceV2HttpBinding">
      <wsdlsoap:address location="https://linksearch.api.cj.com/services/linkSearchServiceV2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>