program/crawl/wsdl/publisherLookupServiceV2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.cj.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns5="http://io.java" xmlns:ns6="http://tracking.service.cj.com" xmlns:ns2="http://publisher.service.cj.com" xmlns:ns1="http://vo.domain.cj.com" xmlns:ns4="http://crypto.javax" xmlns:ns3="http://security.java" xmlns:tns="http://api.cj.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.cj.com">
<xsd:element name="publisherLookup">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="developerKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="token" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="publisherLookupResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:PublisherResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SignatureException" type="ns3:SignatureException"/>
<xsd:element name="IllegalBlockSizeException" type="ns4:IllegalBlockSizeException"/>
<xsd:element name="IOException" type="ns5:IOException"/>
<xsd:element name="NoSuchAlgorithmException" type="ns3:NoSuchAlgorithmException"/>
<xsd:element name="NoSuchPaddingException" type="ns4:NoSuchPaddingException"/>
<xsd:element name="MaximumAccessExceededException" type="ns6:MaximumAccessExceededException"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://publisher.service.cj.com">
<xsd:complexType name="PublisherResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="cid" type="xsd:long"/>
<xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="joinDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="networkRating" type="xsd:long"/>
<xsd:element minOccurs="0" name="programName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="programTermName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="programTermStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="promotionalMethods" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="sevenDayEPC" type="xsd:double"/>
<xsd:element minOccurs="0" name="threeMonthEPC" type="xsd:double"/>
<xsd:element minOccurs="0" name="webSites" nillable="true" type="ns1:ArrayOfWebSite"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.domain.cj.com">
<xsd:complexType name="ArrayOfWebSite">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="WebSite" nillable="true" type="ns1:WebSite"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WebSite">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="pid" type="xsd:long"/>
<xsd:element minOccurs="0" name="url" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://security.java">
<xsd:complexType name="SignatureException"/>
<xsd:complexType name="NoSuchAlgorithmException"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://crypto.javax">
<xsd:complexType name="IllegalBlockSizeException"/>
<xsd:complexType name="NoSuchPaddingException"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java">
<xsd:complexType name="IOException"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tracking.service.cj.com">
<xsd:complexType name="MaximumAccessExceededException"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOException">
    <wsdl:part name="IOException" element="tns:IOException"/>
  </wsdl:message>
  <wsdl:message name="SignatureException">
    <wsdl:part name="SignatureException" element="tns:SignatureException"/>
  </wsdl:message>
  <wsdl:message name="IllegalBlockSizeException">
    <wsdl:part name="IllegalBlockSizeException" element="tns:IllegalBlockSizeException"/>
  </wsdl:message>
  <wsdl:message name="publisherLookupResponse">
    <wsdl:part name="parameters" element="tns:publisherLookupResponse"/>
  </wsdl:message>
  <wsdl:message name="MaximumAccessExceededException">
    <wsdl:part name="MaximumAccessExceededException" element="tns:MaximumAccessExceededException"/>
  </wsdl:message>
  <wsdl:message name="publisherLookupRequest">
    <wsdl:part name="parameters" element="tns:publisherLookup"/>
  </wsdl:message>
  <wsdl:message name="NoSuchAlgorithmException">
    <wsdl:part name="NoSuchAlgorithmException" element="tns:NoSuchAlgorithmException"/>
  </wsdl:message>
  <wsdl:message name="NoSuchPaddingException">
    <wsdl:part name="NoSuchPaddingException" element="tns:NoSuchPaddingException"/>
  </wsdl:message>
  <wsdl:portType name="publisherLookupServiceV2PortType">
    <wsdl:operation name="publisherLookup">
      <wsdl:input name="publisherLookupRequest" message="tns:publisherLookupRequest"/>
      <wsdl:output name="publisherLookupResponse" message="tns:publisherLookupResponse"/>
      <wsdl:fault name="SignatureException" message="tns:SignatureException"/>
      <wsdl:fault name="IllegalBlockSizeException" message="tns:IllegalBlockSizeException"/>
      <wsdl:fault name="IOException" message="tns:IOException"/>
      <wsdl:fault name="NoSuchAlgorithmException" message="tns:NoSuchAlgorithmException"/>
      <wsdl:fault name="NoSuchPaddingException" message="tns:NoSuchPaddingException"/>
      <wsdl:fault name="MaximumAccessExceededException" message="tns:MaximumAccessExceededException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="publisherLookupServiceV2HttpBinding" type="tns:publisherLookupServiceV2PortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="publisherLookup">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="publisherLookupRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="publisherLookupResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SignatureException">
        <wsdlsoap:fault name="SignatureException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalBlockSizeException">
        <wsdlsoap:fault name="IllegalBlockSizeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <wsdlsoap:fault name="IOException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchAlgorithmException">
        <wsdlsoap:fault name="NoSuchAlgorithmException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchPaddingException">
        <wsdlsoap:fault name="NoSuchPaddingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MaximumAccessExceededException">
        <wsdlsoap:fault name="MaximumAccessExceededException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="publisherLookupServiceV2">
    <wsdl:port name="publisherLookupServiceV2HttpPort" binding="tns:publisherLookupServiceV2HttpBinding">
      <wsdlsoap:address location="https://publookup.api.cj.com/services/publisherLookupServiceV2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>