program/crawl/wsdl/publisherCommissionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.cj.com" xmlns:tns="http://api.cj.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://transaction.domain.cj.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns2="http://transaction.service.cj.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.cj.com">
<xsd:element name="findPublisherCommissions">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="developerKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="date" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="dateType" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="advertiserIds" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="websiteIds" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="actionStatus" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="actionTypes" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="adIds" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="countries" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="correctionStatus" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sortBy" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sortOrder" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="findPublisherCommissionsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:PublisherCommissionResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="findPublisherCommissionDetails">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="developerKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="originalActionIds" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="findPublisherCommissionDetailsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:PublisherCommissionDetailsResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.service.cj.com">
<xsd:complexType name="PublisherCommissionResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="publisherCommissions" nillable="true" type="ns1:ArrayOfPublisherCommission"/>
<xsd:element minOccurs="0" name="sortBy" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="totalResults" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PublisherCommissionDetailsResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="originalActionDetails" nillable="true" type="ns2:ArrayOfOriginalActionDetail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfOriginalActionDetail">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalActionDetail" nillable="true" type="ns2:OriginalActionDetail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OriginalActionDetail">
<xsd:sequence>
<xsd:element minOccurs="0" name="transactionDetails" nillable="true" type="ns1:ArrayOfTransactionDetail"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.domain.cj.com">
<xsd:complexType name="ArrayOfPublisherCommission">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="PublisherCommission" nillable="true" type="ns1:PublisherCommission"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PublisherCommission">
<xsd:sequence>
<xsd:element minOccurs="0" name="actionStatus" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="actionType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="adId" nillable="true" type="xsd:long"/>
<xsd:element minOccurs="0" name="advertiserId" nillable="true" type="xsd:long"/>
<xsd:element minOccurs="0" name="advertiserName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="commissionAmount" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="eventDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="original" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="originalActionId" nillable="true" type="xsd:long"/>
<xsd:element minOccurs="0" name="postingDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="sId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="saleAmount" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="websiteId" nillable="true" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfTransactionDetail">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="TransactionDetail" nillable="true" type="ns1:TransactionDetail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TransactionDetail">
<xsd:sequence>
<xsd:element minOccurs="0" name="itemDetails" nillable="true" type="ns1:ArrayOfItemDetail"/>
<xsd:element minOccurs="0" name="publisherCommission" nillable="true" type="ns1:PublisherCommission"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfItemDetail">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ItemDetail" nillable="true" type="ns1:ItemDetail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ItemDetail">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long"/>
<xsd:element minOccurs="0" name="postingDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="quantity" type="xsd:int"/>
<xsd:element minOccurs="0" name="saleAmount" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="sku" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="findPublisherCommissionDetailsRequest">
    <wsdl:part name="parameters" element="tns:findPublisherCommissionDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findPublisherCommissionsResponse">
    <wsdl:part name="parameters" element="tns:findPublisherCommissionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findPublisherCommissionDetailsResponse">
    <wsdl:part name="parameters" element="tns:findPublisherCommissionDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findPublisherCommissionsRequest">
    <wsdl:part name="parameters" element="tns:findPublisherCommissions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="publisherCommissionServicePortType">
    <wsdl:operation name="findPublisherCommissions">
      <wsdl:input name="findPublisherCommissionsRequest" message="tns:findPublisherCommissionsRequest">
    </wsdl:input>
      <wsdl:output name="findPublisherCommissionsResponse" message="tns:findPublisherCommissionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findPublisherCommissionDetails">
      <wsdl:input name="findPublisherCommissionDetailsRequest" message="tns:findPublisherCommissionDetailsRequest">
    </wsdl:input>
      <wsdl:output name="findPublisherCommissionDetailsResponse" message="tns:findPublisherCommissionDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="publisherCommissionServiceHttpBinding" type="tns:publisherCommissionServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findPublisherCommissions">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="findPublisherCommissionsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findPublisherCommissionsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findPublisherCommissionDetails">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="findPublisherCommissionDetailsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findPublisherCommissionDetailsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="publisherCommissionService">
    <wsdl:port name="publisherCommissionServiceHttpsPort" binding="tns:publisherCommissionServiceHttpBinding">
      <wsdlsoap:address location="https://pubcommission.api.cj.com/services/publisherCommissionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>