program/crawl/wsdl/realtimeCommissionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.cj.com" xmlns:tns="http://api.cj.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://transaction.lucene.service.cj.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns2="http://transaction.service.cj.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.cj.com">
<xsd:element name="retrieveLatestTransactions">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="developerKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="websiteIds" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="lookBackXHours" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="advertiserIds" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="countries" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="adIds" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="includeDetails" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sortBy" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sortOrder" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveLatestTransactionsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns2:RealtimeCommissionResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.service.cj.com">
<xsd:complexType name="RealtimeCommissionResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="count" type="xsd:int"/>
<xsd:element minOccurs="0" name="transactions" nillable="true" type="ns1:ArrayOfRealTimeCommissionData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.lucene.service.cj.com">
<xsd:complexType name="ArrayOfRealTimeCommissionData">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="RealTimeCommissionData" nillable="true" type="ns1:RealTimeCommissionData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RealTimeCommissionData">
<xsd:sequence>
<xsd:element minOccurs="0" name="adId" type="xsd:long"/>
<xsd:element minOccurs="0" name="advertiserId" type="xsd:long"/>
<xsd:element minOccurs="0" name="advertiserName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="commissionAmount" type="xsd:double"/>
<xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="details" nillable="true" type="ns1:ArrayOfDetail"/>
<xsd:element minOccurs="0" name="eventDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="saleAmount" type="xsd:double"/>
<xsd:element minOccurs="0" name="sid" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="websiteId" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDetail">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Detail" nillable="true" type="ns1:Detail"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Detail">
<xsd:sequence>
<xsd:element minOccurs="0" name="amount" type="xsd:float"/>
<xsd:element minOccurs="0" name="commission" type="xsd:float"/>
<xsd:element minOccurs="0" name="quantity" type="xsd:int"/>
<xsd:element minOccurs="0" name="sku" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrieveLatestTransactionsRequest">
    <wsdl:part name="parameters" element="tns:retrieveLatestTransactions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveLatestTransactionsResponse">
    <wsdl:part name="parameters" element="tns:retrieveLatestTransactionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="realtimeCommissionServicePortType">
    <wsdl:operation name="retrieveLatestTransactions">
      <wsdl:input name="retrieveLatestTransactionsRequest" message="tns:retrieveLatestTransactionsRequest">
    </wsdl:input>
      <wsdl:output name="retrieveLatestTransactionsResponse" message="tns:retrieveLatestTransactionsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="realtimeCommissionServiceHttpBinding" type="tns:realtimeCommissionServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveLatestTransactions">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveLatestTransactionsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveLatestTransactionsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="realtimeCommissionService">
    <wsdl:port name="realtimeCommissionServiceHttpsPort" binding="tns:realtimeCommissionServiceHttpBinding">
      <wsdlsoap:address location="https://rtpubcommission.api.cj.com/services/realtimeCommissionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>